<h1>Projects</h1>

<div class="row">
  <div class="col-sm-12">
    <div class="input-group fluid">
      <input
        #searchBox
        type="text"
        name="searchBox"
        placeholder="Search"
        (keyup)="onSearch(searchBox.value)"
      />
    </div>
  </div>
</div>
<div *ngIf="loading$ | async" class="center-page">
  <span class="spinner primary"></span>
  <p>Loading...</p>
</div>
<span *ngIf="saving$ | async" class="toast"> Saving... </span>
<div class="row">
  <div *ngIf="errorMessage$ | async as errorMessage" class="card large error">
    <section>
      <p><span class="icon-alert inverse"></span> {{ errorMessage }}</p>
    </section>
  </div>
</div>
<ng-container *ngIf="projects$ | async as projects">
  <app-project-list
    [projects]="projects"
    (saveListItem)="onSaveListItem($event)"
  >
  </app-project-list>
</ng-container>
